Geekbench-5.5.1-Linux.tar.gz filter=lfs diff=lfs merge=lfs -text
Geekbench-4.3.3-Linux.tar.gz filter=lfs diff=lfs merge=lfs -text
nextcloud.zip filter=lfs diff=lfs merge=lfs -text
xsender137.rar filter=lfs diff=lfs merge=lfs -text
xsender20.rar filter=lfs diff=lfs merge=lfs -text
SuiteCRM-7.14.2.zip filter=lfs diff=lfs merge=lfs -text
